* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery {
    width: 100%;
    height: auto;
    padding: 40px 0;
    background: linear-gradient(150deg, rgb(150, 150, 128), rgb(87, 87, 146), rgb(210, 101, 119));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 30px;
}

.imageGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: relative;
}

.imageGallery img {
    width: 100%;
    max-width: 340px;
    min-width: 150px; 
    height: 220px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    transition: transform 0.7s ease;
}

.imageGallery img:hover {
    transform: translateY(-9px);
}


/* Tablet: 3 columns */
@media (min-width: 768px) and (max-width: 1024px) {
    .imageGallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 0 45px 0 45px;
    }
}

/* Mobile: 1 column */
@media (max-width: 480px){
    h1{
        font-size: 50px;
    }
    .imageGallery {
        grid-template-columns: 1fr;
        gap: 18px;
        padding: 0 10px 0 10px;
    }
}

/* Lightbox overlay */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.926);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox img {
    width: 30%;
    height: 45vh;
    border-radius: 20px;
    border-top: 3.3px solid rgba(223, 174, 197, 0.634);
    border-bottom: 3.3px solid rgba(243, 174, 197, 0.634);
    clip-path: polygon(17% 0, 83% 0, 100% 50%, 83% 100%, 17% 100%, 0 50%);
}

/* Tablet: 3 columns */
@media (min-width: 768px) and (max-width: 1024px) {
    .lightbox img {
        width: 70%;
        height: 38vh;
    }
}

/* Mobile: 1 column */
@media (max-width: 480px) {
    .lightbox img {
        width: 90%;
        height: 35vh;
    }
}

.lightbox .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}


.lightbox-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 28px;
    position: absolute;
    bottom: 18%;
}

.prev-lightbox,
.next-lightbox {
    position: relative;
    background: linear-gradient(150deg, rgb(221, 221, 210), rgb(80, 80, 160), rgb(226, 116, 134));
    border: 3px solid rgba(98, 77, 156, 0.625);
    background-clip: padding-box;
    color: white;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
}
.prev-lightbox:hover, .next-lightbox:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}


/* Tablet: 3 columns */
@media (min-width: 768px) and (max-width: 1024px) {
    .lightbox-buttons {
        bottom: 24%;
        gap: 12px;
    }
    .prev-lightbox,
.next-lightbox{
    font-size: 35px;
    padding: 8px 27px;
}
}

@media (max-width: 480px) {
    .lightbox-buttons {
        bottom: 22.2%;
        gap: 10px;
    }
    .prev-lightbox,
.next-lightbox{
    font-size: 17px;
}
}